<!DOCTYPE html>
<html lang="kr">
<head>
<meta charset="UTF-8">
<title>Chat Room</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
var sock = io.connect('http://127.0.0.1:8520');
sock.on('connect', function(){
var connect_string = 'new_connect';
sock.send(connect_string);
});



sock.on('message', function(msg){
//console.log(type(msg));
if(msg.type == 'normal'){
    $('#messages').append(msg.user + '>> '+unescape(msg.message)+'<br>');
}else{
    $('#messages').append('<li id="join">' + msg.message + '</li>');
}
console.log('Received Message : '+msg.type);
});





$('form#sendbutton').submit(function (event) {

        sock.send(escape($('#myMessage').val()));
        console.log("send :" + $('#myMessage').val());
        $('#myMessage').val('')
        document.getElementById('myMessage').focus();
    });
});



</script>
<ul id="messages"></ul>
<FORM id="sendbutton" action="#">
    <input type="text" id="myMessage">
    <button TYPE="submit">Send</button>
    <input type = "button" value="메인으로" onclick="location.href='/main'">
</FORM>

</body>
</html>

